/*---------------------- COLORES A USAR ----------*/
:root {
  --color-fondo: rgba(224, 255, 253, 0.733);
  --color-cards: rgb(184, 185, 185);
  --color-titulo: rgb(65, 168, 125);
  --color-parrafo: rgb(25, 48, 38);
  --color-extra: black;
}

/* NavBar */
.navbar-text {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* Font Family */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif;
}
